.mainBanner {
  @apply block w-full h-[400px] bg-base rounded overflow-hidden;
}

.mainBanner__blob {
  @apply absolute
  flex
  scale-50
  right-[-120px]
  top-[200px]
  tablet:flex
  tablet:top-[190px]
  tablet:scale-75
  tablet:right-[-90px]
  laptop:scale-90
  laptop:right-[0px]
  laptop:top-[150px]
  desktop:scale-100
  desktop:right-[20px]
  desktop:top-[140px];
}
