.mainBanner {
  @apply block 
  w-full 
  min-h-[400px]
  bg-base 
  rounded 
  overflow-hidden
  px-8
  py-4;
}

.mainBanner__blob {
  @apply absolute
  flex
  scale-50
  right-[-120px]
  bottom-[-150px]
  laptop:scale-90
  laptop:right-[0px]
  laptop:top-[150px]
  desktop:scale-100
  desktop:right-[20px]
  desktop:top-[140px];
}

.mainBanner__searchform {
  @apply flex 
  flex-col 
  w-auto
  h-auto;
}
