.czRangeSlider {
  @apply flex w-full
  flex-col;
}

.czRangeSlider__inputSection {
  @apply flex
  w-full
  flex-row  justify-between items-center mt-2 px-2;
}

.czRangeSlider__fieldbox {
  @apply flex flex-row items-center;
}

.czRangeSlider__fieldbox span {
  @apply mr-2;
}

.czRangeSlider__input {
  @apply border-[1px] border-gray-400 rounded bg-white p-2 focus:border-base w-[130px];
}
.czRangeSlider__seperator {
  @apply px-4 font-bold justify-center items-center;
}

.czRangeSlider__box {
  @apply mt-10;
}

.czRangeSlider__track {
  @apply relative h-1 rounded-full bg-gray-300;
}
.czRangeSlider__progress {
  @apply absolute h-1 bg-primary-300 rounded;
}

.czRangeSlider__slider-thumbs {
  @apply relative;
}

.czRangeSlider__thumb {
  @apply absolute 
  w-full
  -top-1 
  bg-transparent
  h-1  appearance-none pointer-events-none;
}

/* Price Range */
input[type="range"]::-webkit-slider-thumb {
  pointer-events: auto !important;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-appearance: none !important;
  @apply bg-base;

  /* @apply w-6 h-6 appearance-none pointer-events-auto; */
}
