.czNavbar {
  @apply bg-white 
  mx-auto
  shadow-lg
  h-[50px] 
  w-full
  tablet:h-[90px];
}

.czNavbar__top {
  @apply flex
  flex-row  
  w-full 
  h-[50px] 
  items-center 
  justify-center
  tablet:border-b-[1px] 
  tablet:border-b-gray-200;
}
.czNavbar__bottom {
  @apply flex-row
  w-full
  h-[40px] items-center justify-start
  hidden tablet:flex;
}

.czNavbar__drawerSection {
  @apply mr-auto laptop:hidden;
}
.czNavbar__logo {
  @apply mr-auto;
}

.czNavbar__authPanel {
  @apply flex-row 
  w-auto 
  h-full 
  ml-auto 
  items-center
  hidden 
  laptop:flex gap-2;
}

.czNavDrawer__backdrop {
  @apply fixed
  w-full
  h-full
  left-0
  right-0
  top-0
  bottom-0
  z-50
  bg-gray-900
  opacity-50
  hidden;
}

.czNavDrawer__backdrop--show {
  @apply flex;
}
.czNavbar__toggler {
  @apply text-gray-600;
}

.czNavDrawer__panel {
  @apply fixed
  left-0
  right-0
  top-0
  bottom-0
  w-[296px]
  h-screen
  bg-base
  z-50
  flex
  flex-col 
  items-start;
}

.czNavDrawer__heading {
  @apply flex flex-row 
  items-center 
  justify-between 
  h-[50px]  
  w-full 
  px-4 
  text-white;
}

.czNavDrawer__authControl {
  @apply grid 
  grid-cols-2 
  gap-4
  items-center
  w-full 
  px-4
  h-[50px];
}
.czNavDrawer__signupButton {
  @apply border-white text-white hover:bg-primary-500;
}

.czNavDrawer__loginButton {
  @apply bg-white text-base hover:bg-gray-200;
}
.czNavDrawer__divider {
  @apply flex 
  flex-row
  p-4
  w-full
  relative;
}

.czNavDrawer__divider span {
  @apply flex 
  flex-row
  h-[1px]
  w-full
  relative
  bg-gray-300;
}

.czNavDrawer__menu {
  @apply list-none
  flex 
  flex-col
  items-start
  justify-start 
  p-0
  w-full;
}

.czNavDrawer__menu-item {
  @apply flex 
  flex-row 
  w-full 
  text-white 
  p-4
  cursor-pointer 
  hover:opacity-70
  border-b-[1px]
  border-b-white 
  border-opacity-40;
}

.czNavMenu {
  @apply flex 
  flex-row 
  h-full 
  w-full 
  items-center 
  p-0;
}

.czNavMenu__menuItem {
  @apply flex
  flex-row
  items-center
  mr-0
  px-4
  text-sm 
  h-full
  font-bold
  text-gray-900
  relative cursor-pointer;
}

.czNavMenu__menuItem.active {
  @apply bg-base text-white;
}
.czNavMenu__menuItem.active:after {
  @apply absolute 
  bottom-0
  left-0
  right-0
  m-auto
  w-full
  text-transparent
  bg-base
  h-[2px];
  content: ".";
}

.czNavMenu__menuItem:after {
  @apply absolute 
  bottom-0
  left-0
  right-0
  m-auto
  w-0
  text-transparent
  bg-base
  h-[2px];
  content: ".";
}

.czNavMenu__menuItem:hover:after {
  @apply w-full;
  animation: fill 1s forwards;
}

.czNavMenu__item-wrapper {
  @apply flex-row h-full items-center hidden tablet:hidden laptop:flex;
}

.czNavMenuExtDropdown {
  @apply relative text-left flex h-full laptop:hidden;
}

.czNavMenu__menuItem.dropdown-toggler {
  @apply bg-white;
}
.czNavMenu__menuItem.dropdown-toggler.open {
  @apply text-base bg-gray-50;
}

.czNavMenuExtDropdown__items {
  @apply absolute 
  z-50
  bg-white
  right-0 
  top-[40px] 
  w-56
  h-auto
  shadow-xl
  flex 
  flex-col 
  p-0   
  rounded-b
  border-t-[1px] 
  overflow-hidden;
}
.czNavMenuExtDropdown__item {
  @apply flex
  flex-row
  p-3 
  cursor-pointer
  font-bold
  text-sm 
  text-gray-900
  bg-white
   border-b-[1px] 
   border-gray-200 
   hover:bg-primary-100 
   hover:text-gray-900
   hover:text-sm 
   last:border-transparent;
}

.czNavMenuExtDropdown__item.active {
  @apply text-base text-sm;
}
