.navbar {
  @apply bg-white 
  shadow-lg 
  h-[90px] px-[10px] 
  sm:px-[20px] 
  lg:px-[20px] 
  xl:px-[150px];
}
.content {
  @apply flex 
  flex-col
  w-full 
  h-full;
}
.navbar-top {
  @apply flex 
  flex-row 
  w-full 
  h-[50px] 
  items-center 
  border-b-[1px] 
  border-b-gray-200;
}
.auth-nav {
  @apply flex flex-row w-auto h-full ml-auto items-center;
}

.login-button {
  @apply flex flex-row w-[120px];
}

.navbar-bottom-menu {
  @apply flex 
  flex-row 
  w-full 
  h-[40px];
}
