.navbar {
  @apply bg-white 
  shadow-lg 
  mx-auto
  h-[50px] 
  w-full
  tablet:h-[90px];
}

.navbar__top {
  @apply flex
  flex-row  
  w-full 
  h-[50px] 
  items-center 
  justify-center
  tablet:border-b-[1px] 
  tablet:border-b-gray-200;
}

.navbar__logo-box {
  @apply mr-auto;
}

.navbar__auth-control {
  @apply flex-row 
  w-auto 
  h-full 
  ml-auto 
  items-center
  hidden 
  laptop:flex;
}

.navbar__bottom-menu {
  @apply flex-row 
  w-full 
  hidden
  h-[40px]
  items-center 
  justify-start
  tablet:flex;
}

.login-button {
  @apply flex flex-row w-[120px];
}

.navbar__navDrawer {
  @apply mr-auto laptop:hidden;
}
