.czNavMenu {
  @apply flex 
  flex-row 
  h-full w-auto 
  items-center
  ml-[-16px];
}

.czNavMenu__menuItem {
  @apply flex
  flex-row
  items-center
  mr-0
  px-4
  text-sm 
  h-full
  font-bold
  text-gray-900
  relative cursor-pointer;
}

.czNavMenu__menuItem.active {
  @apply bg-base text-white;
}
.czNavMenu__menuItem.active:after {
  @apply absolute 
  bottom-0
  left-0
  right-0
  m-auto
  w-full
  text-transparent
  bg-base
  h-[2px];
  content: ".";
}

.czNavMenu__menuItem:after {
  @apply absolute 
  bottom-0
  left-0
  right-0
  m-auto
  w-0
  text-transparent
  bg-base
  h-[2px];
  content: ".";
}

.czNavMenu__menuItem:hover:after {
  @apply w-full;
  animation: fill 1s forwards;
}

.czNavMenu__item-wrapper {
  @apply flex-row h-full items-center hidden tablet:hidden laptop:flex;
}

.czNavMenu__more-items-toggler {
  @apply flex h-full laptop:hidden;
}

.czNavMenuExtendedDropdown {
  @apply relative text-left flex h-full laptop:hidden;
}
.czNavMenuExtendedDropdown__dropdown {
  @apply flex flex-col
  focus:outline-none 
  absolute 
  right-0 
  top-[40px] 
  w-56 
  origin-bottom-right 
  divide-y 
  divide-gray-100 
  rounded-b
  bg-white 
  shadow-lg 
  ring-1 
  ring-black 
  ring-opacity-5;
}
.czNavMenuExtendedDropdown__item {
  @apply flex
  flex-row
  p-3 
  cursor-pointer
  font-bold
  text-sm;
}

.czNavMenuExtendedDropdown__item.active {
  @apply text-base text-sm;
}
